ion-img {
  width: calc(50vw);
  height: calc(50vw);
  // height: 100%;
  vertical-align: middle;
  transition: all ease-out 1s;
  margin: 0px auto;
  margin-top: calc(20vw);
}

ion-checkbox {
  margin-right: 10px;
}