ion-item-group,
ion-item-group ion-item,
ion-item-group ion-row {
  --ion-color-base: var(--ion-color-primary-contrast) !important;
  --background-color: var(--ion-color-primary-contrast) !important;
  background-color: var(--ion-color-primary-contrast) !important;
  color: var(--ion-color-light-tint);
}

ion-item-group ion-label {
  color: var(--ion-color-light-tint) !important;
}