.cautions {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}
.warning_panel {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.warnings {
    padding: 10px;
    background-color: bisque;
    font-size: 16px;
    border-radius: 8px;
}