<ion-item-group class="active">
  <ion-row>
    <ion-col size="4">
      <ion-img [src]="qrCodeDataUrl" on-click="onExpandQRCode()"></ion-img>
    </ion-col>
    <ion-col size="8">
      <ion-item color="transparent" lines="none">
        <ion-label class="align-center">{{getBalance()}}</ion-label>
      </ion-item>
      <ion-item color="transparent" lines="none">
        <ion-label class="align-center">{{address}}</ion-label>
      </ion-item>
      <ion-buttons>
        <ion-button expand="full" on-click="onExpandQRCode()">
          <ion-icon slot="icon-only" name="expand-outline"></ion-icon>
        </ion-button>

        <ion-button expand="full" on-click="onCopyAddress()">
          <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        </ion-button>

        <ion-button expand="full" on-click="onShareAddress()">
          <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-item-group>

<div class="overlay" padding [hidden]="!isExtended" on-click="onCloseExtended()">
  <ion-img [src]="qrCodeDataUrl"></ion-img>
</div>